[data-component="haya-date-picker"] {
  [data-class="date-picker-table"] {
    .week-row[data-active-week="true"] {
      background: #039be5;
      color: #fff;
    }

    .week-row[data-week-available="false"] .week-number {
      color: grey;
    }
  }
}
